<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Handelsaktivität</p>
                        <h3 class="card-title">{{activity | number}}%
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Letzte 30 Tage
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Liquidität</p>
                        <h3 class="card-title">{{liquidity}}%</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Letzte 30 Tage
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Fixed Issues</p>
                        <h3 class="card-title">75</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked from Github
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Buchwert/Kurs-Verhältnis</h4>
                    <p class="card-category">BW pro Aktie / Kurs: Steigt das Verhältnis, steigt der Buchwert schneller als der Kurs,
                        die Aktie wird also relativ zum Buchwert günstiger.</p>
                </div>
                <div class="card-body">
                    <div id="chartdiv" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">AGSX Punkte</h4>
                    <p class="card-category">Entwicklung der tagesaktuellen AGSX Punkte</p>
                </div>
                <div class="card-body">
                    <div id="agsx_punkte" style="width: 100%; height: 500px"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Briefkurs
                                </th>
                                <th>
                                    Geldkurs
                                </th>
                                <th>
                                    AGSX-Punkte
                                </th>
                                <th>
                                    CEO
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let profile of profiles">
                                    <td>
                                        {{profile.date * 1000 | date: 'd.MM.yy, h:mm a'}}
                                    </td>
                                    <td>
                                        {{profile.ask | currency:'EUR'}}
                                    </td>
                                    <td>
                                        {{profile.bid | currency:'EUR'}}
                                    </td>
                                    <td>
                                        {{profile.agsx}}
                                    </td>
                                    <td class="text-primary">
                                        {{profile.ceo}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Trades</h4>
                        <p class="card-category">Die Trades der letzten Tage</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Datum
                                </th>
                                <th>
                                    Preis
                                </th>
                                <th>
                                    Anzahl
                                </th>
                                <th>
                                    Gehandelte Aktie
                                </th>
                                <th>
                                    Kauf?
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let trade of trades">
                                    <td>
                                        {{trade.datetime * 1000 | date: 'd.MM.yy, h:mm a'}}
                                    </td>
                                    <td>
                                        {{trade.price | currency:'EUR'}}
                                    </td>
                                    <td>
                                        {{trade.quantity}}
                                    </td>
                                    <td>
                                        {{trade.tradedShare}}
                                    </td>
                                    <td class="text-primary">
                                        {{trade.buy}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
